DEV_APP_PORT=8080
DEV_API_PORT=8787
DEV_DB_PORT=5432
POSTGRES_DB=school_ai_search_dev
POSTGRES_USER=schoolapp
POSTGRES_PASSWORD=schoolapp
DATABASE_URL=postgres://schoolapp:schoolapp@db:5432/school_ai_search_dev
